.requestUser {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: rgb(75, 65, 65);
}

.tableContainerCheck {
    border: 0.1em solid #aca7a7;
    border-radius: 0.2em;
    /* overflow-x: auto; */

}

.tableHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-weight: bold;
    border-bottom: 0.06em solid #aca7a7;
}


.tableBodyCheck {
    /* display: flex;
    flex-direction: column; */
}

.tableDataRow {
    display: flex;
    border-bottom: 0.06em solid #aca7a7;
}

.tableDataName{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    border-right: 0.06em solid #aca7a7;
    white-space: nowrap;
    background-color: rgba(250, 235, 215, 0.26);
    min-width: 8em;
}

.tableDataCheck {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    border-right: 0.06em solid #aca7a7;
    background-color: rgba(250, 235, 215, 0.26);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    min-width: 11em; 
  }

  .tableDataDetail{
    padding-left: 0.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    border-right: 0.06em solid #aca7a7;
    background-color: rgba(250, 235, 215, 0.26);
    min-width: 3em;
  }
.buttonDetail {
    padding: 0.3em 0.5em; 
    background-color: #6a0dad96;
    color: white;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}
.buttonsContainer{
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttonPage{
    padding: 0.3em 0.5em; 
    background-color: #83b5267e;
    /* color: rgb(198, 37, 37); */
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}