.userCard {
    width: 20em;
    background-color: #5be34f27;
    border-radius: 1em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    padding: 1em;
    text-align: center;
    box-shadow:
        0 0.25em 0.5em rgba(0, 0, 0, 0.1),
        rgba(131, 23, 143, 0.556) 0em 0em 0em 0.125em,
        rgba(97, 21, 86, 0.65) 0em 0.25em 0.375em -0.0625em,
        rgba(109, 32, 140, 0.08) 0em 0.0625em 0em inset;
}

img {
    border-radius: 50%;
    user-select: none;
    box-shadow:
        rgba(213, 54, 227, 0.238) 0 -1.4375em 1.5625em 0 inset,
        rgba(133, 35, 152, 0.15) 0 -2.25em 1.875em 0 inset,
        rgba(0, 0, 0, 0.1) 0 -4.9375em 2.5em 0 inset,
        rgba(0, 0, 0, 0.06) 0 0.125em 0.0625em, rgba(0, 0, 0, 0.09) 0 0.25em 0.125em,
        rgba(149, 42, 192, 0.09) 0 0.5em 0.25em, rgba(120, 11, 135, 0.09) 0 1em 0.5em,
        rgba(112, 11, 138, 0.09) 0 2em 1em;
}

.userName {
    background-color: rgba(190, 61, 202, 0.338);
    border-radius: 2em;
    box-shadow: 0em 0.2em 0.3em rgba(0, 0, 0, 0.559);
}

.dataDetails {
    display: flex;
    align-items: center;
    border: 0.1em solid rgba(103, 9, 147, 0.575);
    margin-top: 1em;
    padding: 0.1em;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: rgba(193, 26, 222, 0.315) 0em 0.9em 1.8em -0.9em inset;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1.09em;
}

.userInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-size: 2em;
    text-align: center;
    font-size: 1em;
    height: 2em;
    background-color: rgba(39, 86, 30, 0.736);
    color: white;
    border-radius: 0.5em;
    text-shadow: 0.03em 0.03em 0.06em rgba(0, 0, 0, 0.5);
    width: 4em;
    margin-right: 0.3em;
}