.loginContainer {
    background-color: #5be34f27;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    padding: 2em;
    min-width: 18.5em;
    box-shadow:
        0 0.25em 0.5em rgba(0, 0, 0, 0.1) inset,
        rgba(131, 23, 143, 0.556) 0em 0em 0em 0.125em inset,
        rgba(97, 21, 86, 0.65) 0em 0.25em 0.375em -0.0625em inset,
        rgba(109, 32, 140, 0.08) 0em 0.0625em 0em inset;
}

h2 {
    margin-top: 0;
    text-shadow: 0.03em 0.03em 0.06em rgba(0, 0, 0, 0.5);
    text-align: center;
}

label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    width: 9em;
    height: 1.5em;
    border-radius: 0.4em;
    border: 0.1em solid #5d6d3aac;
    box-shadow: rgba(61, 103, 50, 0.604) 0em 0.9em 1.8em -0.9em inset;
}

.inputField {
    box-shadow: rgba(75, 88, 39, 0.315) 0em 0.9em 1.8em -0.9em inset;
    margin-bottom: 3em;
    width: 100%;
    padding: 1em;
    margin-bottom: 1.25em;
    border: 0.0625em solid #5d6d3aac;
    border-radius: 0.4em;
    box-sizing: border-box;
}

.errorInputs {
    color: red;
    margin-top: -1em;
    text-align: center;
}

button {
    width: 100%;
    padding: 1em;
    background-color: #297c2cdc;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}