<!-- LOGIN FORM-->
<div class="loginContainer">
  <h2>Iniciar sesión</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

    <!-- EMAIL -->
    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" formControlName="email" class="inputField" autocomplete="email">
    @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
    @if (loginForm.get('email')?.errors?.['required']) {
    <div class="errorInputs">El correo electrónico es requerido.</div>
    }
    @if (loginForm.get('email')?.errors?.['email']) {
    <div class="errorInputs">Correo electrónico inválido.</div>
    }
    }

    <!-- PASSWORD -->
    <label for="password">Contraseña:</label>
    <input type="password" id="password" formControlName="password" class="inputField" autocomplete="current-password">
    @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched))
    {
    @if (loginForm.get('password')?.errors?.['required']) {
    <div class="errorInputs">La contraseña es requerida.</div>
    }
    }

    <!-- BUTTON LOGIN -->
    <button type="submit">Entrar</button>
  </form>
</div>

<!-- lOGIN ERROR -->
@if (loginError) {
<p class="errorInputs">{{ loginError }}</p>
}