.tableContainer {
    border: 0.1em solid #aca7a7;
    border-radius: 0.2em;
    max-width:21.9em;
}

.tableHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-weight: bold;
    border-bottom: 0.06em solid #aca7a7;
}

.tableDataRow {
    display: flex;
    border-bottom: 0.06em solid #aca7a7;
}

.tableDataName {
    padding: 0.5em 0;
    text-align: center;
    border-right: 0.06em solid #aca7a7;
    white-space: nowrap;
    background-color: rgba(250, 235, 215, 0.26);
    width: 7.5em;
}

.tableDataEmail {
    padding: 0.5em 0;
    text-align: center;
    border-right: 0.06em solid #aca7a7;
    background-color: rgba(250, 235, 215, 0.26);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 11.3em;
}

.tableDataDetail {
    padding: 0.5em 0 0.5em 0.1em;
    text-align: center;
    border-right: 0.06em solid #aca7a7;
    background-color: rgba(250, 235, 215, 0.26);
    width: 3.04em;
}

.buttonDetail {
    padding: 0.3em 0.5em;
    background-color: #6a0dad96;
    color: white;
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    user-select: none;
}

.buttonsContainer {
    height: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}